.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5vw;
  padding: 2vw 6vw;
}
.image {
  width: 80%;
}

.imgWrapper {
  padding: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 26vw;
}
.name {
  color: #212760;
  text-align: center;
  font-size: 2vw;
  margin-top: 4vw;
  font-weight: 700;
}
.des {
  color: #7b7fa0;
  text-align: center;
  font-weight: 400;
  font-size: 1.6vw;
}

@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 480px) {
}
/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3vw;
    padding: 2vw 6vw;
    row-gap: 5vw;
    padding-bottom: 5vw;
  }
  .image {
    width: 90%;
  }

  .imgWrapper {
    padding: 2vw;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    height: 20vw;
  }
  .name {
    font-size: 1.5vw;
    margin-top: 3vw;
    font-weight: 700;
  }
  .des {
    font-weight: 400;
    font-size: 1.2vw;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
}

/*(900px and up) */
@media only screen and (min-width: 900px) {
  .name {
    font-size: 1.3vw;
    margin-top: 2.7vw;
  }
  .des {
    font-size: 1.1vw;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
}

/*  (1350px and up) */
@media only screen and (min-width: 1440px) {
}
