.container {
  padding-top: 4vw;
  position: relative;
}

.ltlayout {
  position: absolute;
  left: 0;
  top: -15vw;
  z-index: -1;
}
.layoutImage {
  width: 20vw;
}
.leftBar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 0.5vw;
  padding: 1vw;
}
.leftCard {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.3vw 0.7vw;
  cursor: pointer;
  border-radius: 0.5vw;
  border-left: 0.4vw solid red;
  font-weight: 700;
  overflow: hidden;
  position: relative;
  /* color: #002d9f; */
}
.leftCard::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #002d9f;
  transition: all 0.4s ease;
  position: absolute;
}
.leftCard.inactiveCard::before {
  width: 0%;
}
.leftCard.activeCard::before {
  width: 100%;
}
.leftCard.activeCard {
  color: white;
  background-color: #f0ecec;
  transition: all 0.4s ease;
}
.leftCard.inactiveCard {
  background-color: #f0ecec;
  color: #002d9f;
  transition: all 0.4s ease;
}
.pName {
  font-size: 1.7vw;
  text-wrap: wrap;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 480px) {
}
/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
  .pName {
    font-size: 1.5vw;
  }
  .leftBar {
    width: 100%;
    gap: 0.8vw;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    padding: 5vw;
    padding-top: 2vw;
  }
  .pName {
    font-size: 1.3vw;
  }
  .leftBar {
    width: 100%;
    gap: 0.8vw;
  }
}

/*(900px and up) */
@media only screen and (min-width: 900px) {
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
}

/*  (1350px and up) */
@media only screen and (min-width: 1440px) {
}
