.serviceContainer {
  padding-top: 5vw;
  padding-bottom: 20vw;
}

.container {
  position: relative;
}
.rtLayout {
  position: absolute;
  bottom: 0;
  z-index: -1;
  right: 0;
}
.ltImage {
  width: 25vw;
}
.navWrapper {
  width: 100%;
  z-index: 100;
  transition: all 0.3s ease;
}

/* Start out absolute */
.absolute {
  position: absolute;
  top: 2.3vw;
}

/* Become sticky once the Hero top hits the viewport top */
.fixed {
  position: fixed;
  top: 1vw;
}
