.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.ltlayout {
  position: absolute;
  left: 0;
  top: -15vw;
  z-index: -1;
}
.layoutImage {
  width: 16vw;
}
.zlayout {
  position: absolute;
  z-index: -1;
}
.zImage {
  width: 25vw;
  opacity: 0.2;
  rotate: 10deg;
}
.header {
  color: #fe0000;
  text-align: center;

  font-family: "Geist", sans-serif;
  font-size: 3.5vw;
  font-weight: 700;
  margin-bottom: 2vw;
}

.wrapper {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vw;
  row-gap: 3vw;
}

.card {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  gap: 1vw;
}
.imgWrapper {
  height: 12vw;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.cardImage {
  width: 10vw;
}
.cardHeader {
  color: #272727;
  text-align: center;
  font-family: "Geist", sans-serif;
  font-size: 2.4vw;
  font-weight: 500;
  height: 6vw;
  /* background-color: aqua; */
}

.content {
  color: #272727;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.8vw;
  line-height: 150%; /* 187.5% */
}

.dotsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6vw;
  margin-top: 3vw;
  margin-bottom: 5vw;
}

.dots {
  width: 4vw;
}

.viewBtn {
  cursor: pointer;
  border-radius: 1vw;
  background: #fe0000;
  box-shadow: 0px 2px 2px 0px rgba(15, 14, 14, 0.4);
  color: #fff;
  font-family: "Geist", sans-serif;
  font-weight: 700;
  font-size: 2.5vw;
  padding: 1vw;
  outline: none;
  border: none;
  overflow: hidden;
  position: relative;
}

.viewBtn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: #fc7272;
  border-radius: 1vw;
  transition: all 0.3s ease;
  pointer-events: none;
  z-index: 0;
}
.viewBtn:hover.viewBtn::before {
  width: 100%;
}
.btnText {
  text-shadow: 3px 3px 3px #00000040;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 480px) {
  .dotsContainer {
    gap: 1.6vw;
    margin-top: 3vw;
    margin-bottom: 5vw;
  }

  .dots {
    width: 4vw;
  }

  .viewBtn {
    border-radius: 1vw;
    box-shadow: 0px 2px 2px 0px rgba(15, 14, 14, 0.4);
    font-size: 2vw;
    padding: 1vw;
  }
}
/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
  .header {
    font-size: 3vw;

    margin-bottom: 2vw;
  }

  .wrapper {
    width: 85%;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.8vw;
  }

  .card {
    gap: 1vw;
  }
  .imgWrapper {
    height: 12vw;
  }
  .cardImage {
    width: 10vw;
  }
  .cardHeader {
    font-size: 2.1vw;
    text-align: center;
    height: 5.5vw;
  }

  .content {
    font-size: 1.8vw;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  .dotsContainer {
    gap: 1.6vw;
    margin-top: 3vw;
    margin-bottom: 5vw;
  }

  .dots {
    width: 4vw;
  }

  .viewBtn {
    border-radius: 1vw;
    box-shadow: 0px 4px 4px 0px rgba(15, 14, 14, 0.4);
    font-size: 2vw;
    padding: 1vw;
  }
}

/*(900px and up) */
@media only screen and (min-width: 900px) {
  .header {
    font-size: 2.4vw;
    margin-bottom: 2vw;
  }

  .wrapper {
    width: 85%;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.8vw;
  }

  .card {
    gap: 0.7vw;
  }
  .imgWrapper {
    height: 8vw;
  }
  .cardImage {
    width: 7vw;
  }
  .cardHeader {
    font-size: 1.8vw;

    height: 4.9vw;
  }

  .content {
    font-size: 1.4vw;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  .header {
    font-size: 2.4vw;
    margin-bottom: 2vw;
  }

  .wrapper {
    width: 82%;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.8vw;
    row-gap: 4vw;
  }

  .card {
    gap: 0.7vw;
  }
  .imgWrapper {
    height: 6vw;
  }
  .cardImage {
    width: 5vw;
  }
  .cardHeader {
    font-size: 1.5vw;

    height: auto;
  }

  .content {
    font-size: 1.2vw;
    text-align: center;
  }
  .dotsContainer {
    gap: 1.6vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
  }

  .dots {
    width: 4vw;
  }

  .viewBtn {
    border-radius: 1vw;
    box-shadow: 0px 4px 4px 0px rgba(15, 14, 14, 0.4);
    font-size: 1.5vw;
    padding: 1vw;
  }
}

/*  (1350px and up) */
@media only screen and (min-width: 1440px) {
}
