.container {
  padding: 1vw;
  /* height: 60vw; */
}

.btnText {
  text-shadow: 3px 3px 3px #00000040;
}

.wrapper {
  /* background-image: url("/images/newBgImages/aboutUsBg.jpeg"); */

  background: #002582d5;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2vw;
  position: relative;
  padding: 2vw;
  width: 100%;
  height: 100%;
}

.btn {
  right: 2vw;
  font-family: "Geist", sans-serif;
  font-weight: 700;
  font-size: 1.6vw;
  color: white;
  border-radius: 1vw;
  padding: 1vw;
  background: #fe0000;
}
.item {
  color: #fff;
  font-family: "Geist", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 1.3vw;
  padding-bottom: 0.6vw;
}
.heroNav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
.imageContainer {
  display: flex;
  justify-content: center;
  gap: 2vw;
  width: 100%;
}
.dirImage {
  width: 40%;
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 2vw;
  margin-top: 5vw;
}

.header {
  color: #fff;
  font-family: "Geist", sans-serif;
  font-weight: 600;
  font-size: 3vw;
}

.header span {
  color: #fe0000;
}

.content {
  color: #fff;
  font-family: "Geist", sans-serif;
  font-size: 1.6vw;
  font-weight: 500;
  line-height: 120%;
  /* Glassy effect */
  /* background: rgba(32, 31, 31, 0.373); 
  border-radius: 16px;
  backdrop-filter: blur(12px); 
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  border: 1px solid rgba(255, 255, 255, 0.2); */
}

@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 480px) {
}
/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
  .btn:hover {
    box-shadow: -4px -4px 4px #00000040;
  }
  .item {
    font-size: 1.3vw;
  }
  .wrapper {
    padding-bottom: 3vw;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    padding: 1vw 3vw;
  }
  .wrapper {
    padding: 3vw;
  }
  .content {
    font-size: 1.4vw;
  }
}

/*(900px and up) */
@media only screen and (min-width: 900px) {
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  .item {
    font-size: 1.1vw;
  }
  .container {
    padding: 1vw 3vw;
  }
  .wrapper {
    padding: 3vw 4vw;
  }
  .content {
    font-size: 1.4vw;
  }
  .mainContainer {
    margin-top: 3vw;
  }
}

/*  (1350px and up) */
@media only screen and (min-width: 1440px) {
}
