.container {
  padding: 3vw 1vw;
}
.header {
  color: #000;
  text-align: center;
  font-family: "Geist", sans-serif;
  font-weight: 600;
  font-size: 3.5vw;
  text-align: center;
}
.imgContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vw;
}

.dirImage {
  width: 80%;
}

@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 480px) {
}
/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
  .header {
    font-size: 2.7vw;
    margin-bottom: 3vw;
  }
  .imgContainer {
    width: 100%;
    flex-direction: row;
    gap: 2vw;
  }
  .dirImage {
    width: 40%;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
}

/*(900px and up) */
@media only screen and (min-width: 900px) {
  .header {
    font-size: 2.3vw;
    margin-bottom: 3vw;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  .dirImage {
    width: 35%;
  }
}

/*  (1350px and up) */
@media only screen and (min-width: 1440px) {
}
