.container {
  width: 100%;
  padding: 1vw;
  position: relative;
}
.layout {
  position: absolute;
}
.rtlayout {
  right: 0;
  top: -10vw;
}
.ltlayout {
  left: 0;
  bottom: 0vw;
}
.rtlayout2 {
  right: 0;
  bottom: -30vw;
}
.layoutImage {
  width: 20vw;
  z-index: 0;
}
.sliderContainer {
  position: relative;
  z-index: 2;
}
.arwLeft,
.arwRight {
  position: absolute;
  top: 35%;
  width: 4vw;
  cursor: pointer;
}
.arwLeft {
  left: 1vw;
}
.arwRight {
  right: 1vw;
}
@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 480px) {
}
/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    padding: 3vw;
  }
  .arwLeft {
    left: 0vw;
  }
  .arwRight {
    right: 0vw;
  }
}

/*(900px and up) */
@media only screen and (min-width: 900px) {
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  .arwLeft,
  .arwRight {
    width: 3.5vw;
  }
}

/*  (1350px and up) */
@media only screen and (min-width: 1440px) {
}
