@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.container {
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}
.header {
  color: #fe0000;

  text-align: center;
  font-family: "Geist", sans-serif;
  font-size: 3.5vw;
  font-weight: 700;
}
.clImage {
  width: 80%;
}

.imgContainer {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
  background: transparent; /* or transparent */
  padding: 1vw 0;
}
.imgContent {
  display: inline-block;
  white-space: nowrap;
  animation: scrollLeft 15s linear infinite;
}
.imgContent img {
  height: 6vw;
  margin: 0 2vw;
  display: inline-block;
}

.imgContainer:hover .imgContent {
  animation-play-state: paused;
}
@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 480px) {
}
/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
  .container {
    padding: 1vw;

    gap: 1.5vw;
  }
  .header {
    font-size: 2.8vw;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    padding: 2vw 3vw;
  }
}

/*(900px and up) */
@media only screen and (min-width: 900px) {
  .container {
    padding: 1vw;

    gap: 1vw;
  }
  .header {
    font-size: 2.4vw;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
}

/*  (1350px and up) */
@media only screen and (min-width: 1440px) {
}
