.container {
  width: 100%;
  height: auto;
  min-height: 180vw;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.card {
  padding: 2vw;
  background-color: #eee;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.4vw;
  border-left: 2px solid #f00;
  background: rgba(0, 0, 0, 0.03);
}
.cardArrow {
  font-size: 3.5vw;
  color: #f00;
  transition: all 0.4s ease;
}

.contentWrapper {
  overflow: hidden;
}
.cardWrapper {
  padding: 2vw 3vw;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1vw;
  row-gap: 3vw;
  padding-bottom: 4vw;
}
.content {
  padding: 1rem;
  background-color: #fff;
}
.wrapper {
  padding: 3vw;
  padding-top: 4vw;
  background: #fff;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.2);
}
.header {
  color: #002d9f;
  font-size: 4vw;
  font-style: normal;
  font-weight: 800;

  margin-bottom: 0.5vw;
}

.title {
  color: #002d9f;
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 20px */
}

.plainText {
  color: #000;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8;
  margin: 0.5vw 0;
  background-color: #fff;
  border-radius: 0.4vw;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: "Arial", sans-serif;
  text-align: left;
}

.plainText strong {
  display: block;
  margin-top: 1.5vw;
  margin-bottom: 0.5vw;
  text-decoration: underline;
  font-size: 1.8vw;
  font-weight: 800;
  text-align: left;
}

.plainText p {
  margin: 0.5vw 0;
  line-height: 1.6;
}

.plainText table {
  width: 100%;
  border-collapse: collapse;
  margin: 0.5vw 0 2vw 0;
  background-color: #fff;
}

.plainText table th,
.plainText table td {
  border: 2px solid #333;
  padding: 1.5vw;
  text-align: left;
  color: #000;
  font-size: 1.6vw;
}

@media only screen and (min-width: 480px) {
  .cardWrapper {
    padding: 2vw 0vw;
    grid-template-columns: repeat(1, 1fr);
    gap: 3vw;
    padding-bottom: 4vw;
  }
}
/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
  .cardWrapper {
    padding: 2vw 0vw;
    grid-template-columns: repeat(2, 1fr);
    gap: 3vw;
    padding-bottom: 4vw;
  }
  .title {
    font-size: 2vw;
  }
  .cardArrow {
    font-size: 3vw;
  }
  .header {
    font-size: 3.5vw;

    margin-bottom: 1vw;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    min-height: 145vw;
    padding-left: 2vw;
    padding-top: 1vw;
    padding-right: 0;
  }

  .title {
    font-size: 1.8vw;
  }
  .cardArrow {
    font-size: 2.7vw;
  }
}

/*(900px and up) */
@media only screen and (min-width: 900px) {
  .title {
    font-size: 1.6vw;
  }
  .header {
    font-size: 2.8vw;

    margin-bottom: 0.5vw;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  .container {
    min-height: 110vw;
  }
  .card {
    padding: 1.2vw 2vw;
    border-radius: 0.4vw;
    border-left: 4px solid #f00;
    background: rgba(0, 0, 0, 0.03);
  }
  .cardWrapper {
    padding: 2vw 0vw;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    padding-bottom: 4vw;
  }
  .header {
    font-size: 2.3vw;
    margin-bottom: 0vw;
  }
  .title {
    font-size: 1.3vw;
  }
  .cardArrow {
    font-size: 1.8vw;
  }
}

/*  (1350px and up) */
@media only screen and (min-width: 1440px) {
}
