.header {
  color: #fe0000;
  text-align: center;
  font-family: "Geist", sans-serif;
  font-size: 3.5vw;
  font-weight: 700;
  margin-bottom: 2vw;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(32%, 32%));
  justify-content: center;
  gap: 4vw;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardImage {
  width: 100%;
  height: 82%;
  object-fit: cover;
  object-position: center;
  border-radius: 2vw;
}

.imgHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5vw;
  background: rgba(12, 12, 12, 0.55);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 1vw;
  color: #fff;
  text-align: center;

  font-family: "Geist", sans-serif;
  font-weight: 600;
  font-size: 2.5vw;
  height: 14%;
  position: relative;
  overflow: hidden;
}

.imgHeader::before {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ef4444, #dc2626);
  border-radius: inherit;
  transform: scale(0);
  transform-origin: top left;
  transition: transform 0.4s ease-out;
  z-index: 0;
}
.imgHeader span {
  z-index: 3;
}
.card:hover .imgHeader::before {
  transform: scaleX(1);
  border-radius: 1vw;
}

.tableContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
.table th,
.table td {
  border: 1px solid black;
  padding: 0.8vw;
}
.smText {
  color: #000;
  font-family: "Geist", sans-serif;
  font-size: 2vw;
  font-weight: 400;
}
.redText {
  color: #fe0000;
  font-family: "Geist", sans-serif;

  font-weight: 600;
  font-size: 3vw;
}
.blueText {
  color: #002992;

  font-family: "Geist", sans-serif;
  font-weight: 600;
  font-size: 3vw;
}

.dotsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6vw;
  margin-top: 3vw;
  margin-bottom: 5vw;
}

.dots {
  width: 4vw;
}
.btnText {
  text-shadow: 3px 3px 3px #00000040;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.viewBtn {
  cursor: pointer;
  border-radius: 1vw;
  background: #fe0000;
  box-shadow: 0px 2px 2px 0px rgba(15, 14, 14, 0.4);
  color: #fff;
  font-family: "Geist", sans-serif;
  font-weight: 700;
  text-shadow: 3px 3px 3px #00000040;
  font-size: 2.5vw;
  padding: 1vw;
  outline: none;
  border: none;
  overflow: hidden;
  position: relative;
}

.viewBtn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: #fc7272;
  border-radius: 1vw;
  transition: all 0.3s ease;
  pointer-events: none;
  z-index: 0;
}
.viewBtn:hover.viewBtn::before {
  width: 100%;
}
@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 480px) {
  .header {
    font-size: 3vw;
    margin-bottom: 2vw;
  }

  .cardContainer {
    grid-template-columns: repeat(2, minmax(32%, 32%));

    gap: 4vw;
  }

  .cardImage {
    height: 82%;

    border-radius: 2vw;
  }

  .imgHeader {
    border-radius: 1vw;
    border-radius: 1vw;
    font-size: 3vw;
    height: 14%;
  }

  .table th,
  .table td {
    border: 1px solid black;
    padding: 0.8vw;
  }
  .smText {
    color: #000;
    font-family: "Geist", sans-serif;
    font-size: 1.7vw;
    font-weight: 400;
  }
  .redText,
  .blueText {
    font-size: 2.5vw;
  }

  .dotsContainer {
    gap: 1.6vw;
    margin-top: 3vw;
    margin-bottom: 5vw;
  }

  .dots {
    width: 4vw;
  }

  .viewBtn {
    border-radius: 1vw;
    box-shadow: 0px 2px 2px 0px rgba(15, 14, 14, 0.4);
    font-size: 2vw;
    padding: 1vw;
  }
}
/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
  .cardContainer {
    width: 100%;
    grid-template-columns: repeat(4, minmax(20%, 20%));
    gap: 1vw;
    row-gap: 3vw;
  }
  .card {
    height: 28vw;
  }
  .cardImage {
    height: 79%;
    border-radius: 1.3vw;
  }
  .imgHeader {
    border-radius: 1vw;
    border-radius: 1vw;
    font-size: 1.8vw;
    padding: 0 0.6vw;
    height: 18%;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  .cardContainer {
    width: 100%;
    grid-template-columns: repeat(4, minmax(20%, 20%));
    gap: 1vw;
    row-gap: 3vw;
  }
  .card {
    height: 28vw;
  }
  .cardImage {
    height: 79%;
    border-radius: 1.3vw;
  }
  .imgHeader {
    border-radius: 1vw;
    border-radius: 1vw;
    font-size: 1.6vw;
    padding: 0 0.9vw;
    height: 18%;
  }
  .table th,
  .table td {
    border: 1px solid black;
    padding: 0.8vw;
  }
  .smText {
    font-size: 1.4vw;
  }
  .redText,
  .blueText {
    font-size: 2.2vw;
    text-wrap: noWrap;
  }

  .dotsContainer {
    gap: 1.6vw;
    margin-top: 3vw;
    margin-bottom: 5vw;
  }

  .dots {
    width: 4vw;
  }

  .viewBtn {
    border-radius: 1vw;
    box-shadow: 0px 4px 4px 0px rgba(15, 14, 14, 0.4);
    font-size: 2vw;
    padding: 1vw;
  }
}

/*(900px and up) */
@media only screen and (min-width: 900px) {
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  .header {
    font-size: 2.5vw;
    margin-bottom: 2vw;
  }

  .cardContainer {
    grid-template-columns: repeat(4, minmax(19%, 19%));
    gap: 1vw;
    row-gap: 3vw;
  }
  .card {
    height: 26vw;
  }
  .cardImage {
    height: 82%;
    border-radius: 1.3vw;
  }
  .imgHeader {
    border-radius: 1vw;
    border-radius: 1vw;
    font-size: 1.4vw;
    padding: 0 2vw;
    height: 16%;
  }
  .table th,
  .table td {
    border: 1px solid black;
    padding: 0.8vw;
  }
  .smText {
    font-size: 1.2vw;
  }
  .redText,
  .blueText {
    font-size: 1.8vw;
    text-wrap: noWrap;
  }

  .dotsContainer {
    gap: 1.6vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
  }

  .dots {
    width: 4vw;
  }

  .viewBtn {
    border-radius: 1vw;
    box-shadow: 0px 4px 4px 0px rgba(15, 14, 14, 0.4);
    font-size: 1.5vw;
    padding: 1vw;
  }
}

/*  (1350px and up) */
@media only screen and (min-width: 1440px) {
}
