.pageImage {
  width: 80%;
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 4vw;
  gap: 2vw;
  padding-bottom: 10vw;
}
.botHeader {
  color: #fe0000;

  text-align: center;
  font-family: "Geist", sans-serif;
  font-size: 3vw;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 32px */
}

.container {
  position: relative;
}

.navWrapper {
  width: 100%;
  z-index: 100;
  transition: all 0.3s ease;
}

/* Start out absolute */
.absolute {
  position: absolute;
  top: 2.3vw;
}

/* Become sticky once the Hero top hits the viewport top */
.fixed {
  position: fixed;
  top: 1vw;
}
.ytVid {
  width: 80%;
  height: 40vw;
  border-radius: 1vw;
}
@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 480px) {
}
/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
  .botHeader {
    font-size: 2.7vw;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
}

/*(900px and up) */
@media only screen and (min-width: 900px) {
  .mainContainer {
    padding-top: 6vw;
    gap: 3vw;
    padding-bottom: 10vw;
  }
  .botHeader {
    font-size: 2.5vw;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  .botHeader {
    font-size: 2.1vw;
  }
}

/*  (1350px and up) */
@media only screen and (min-width: 1440px) {
}
