.tableImage {
  width: 100%;
}
.container {
  display: flex;
  justify-content: center;
  gap: 2vw;
  padding-top: 4vw;
}
.left {
  width: 28%;
}
.right {
  width: 61%;
}

.leftImage {
  width: 100%;
  height: 30vw;
  object-fit: cover;
  object-position: center;
  border-radius: 3vw;
}

.imageHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: "Geist", sans-serif;
  font-size: 3vw;
  font-style: normal;
  font-weight: 600;
  height: 6.3vw;
  border-radius: 2vw;
  background: linear-gradient(90deg, #ff0c0c 0%, #002992 100%);
}

.rightHeader {
  color: #002992;

  font-family: "Geist", sans-serif;
  font-size: 3vw;
  font-weight: 600;
}

.table {
  width: 100%;
  border-collapse: collapse;
}
.table th {
  color: #002992;
  font-family: "Geist", sans-serif;
  font-size: 2.3vw;
  font-weight: 500;
  text-align: center;
  border: 0.5px solid black;
  padding: 0.8vw;
}
.table td {
  color: #000;
  font-family: "Geist", sans-serif;
  font-size: 2vw;
  text-align: center;
  font-weight: 300;
  border: 0.5px solid black;
  padding: 0.8vw;
}

@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 480px) {
}
/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
  .left {
    width: 24%;
  }
  .right {
    width: 67%;
  }

  .leftImage {
    width: 100%;
    height: 28vw;

    border-radius: 2.5vw;
  }

  .imageHeader {
    font-size: 2.5vw;
    height: 5.5vw;
    border-radius: 1.7vw;
  }

  .rightHeader {
    font-size: 2.5vw;
  }
  .table th {
    font-size: 1.8vw;
    font-weight: 500;

    border: 0.5px solid black;
    padding: 0.8vw;
  }
  .table td {
    font-size: 1.7vw;
    text-align: center;
    font-weight: 300;
    border: 0.5px solid black;
    padding: 0.8vw;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
}

/*(900px and up) */
@media only screen and (min-width: 900px) {
  .left {
    width: 22%;
  }
  .right {
    width: 62%;
  }

  .leftImage {
    width: 100%;
    height: 26vw;

    border-radius: 2.2vw;
  }

  .imageHeader {
    font-size: 1.7vw;
    height: 5vw;
    padding: 0 1vw;
    border-radius: 1.5vw;
  }

  .rightHeader {
    font-size: 2.2vw;
    margin-bottom: 1vw;
  }

  .table th {
    font-size: 1.4vw;
    font-weight: 500;

    border: 0.5px solid black;
    padding: 0.8vw;
  }
  .table td {
    font-size: 1.4vw;
    text-align: center;
    font-weight: 300;
    border: 0.5px solid black;
    padding: 0.8vw;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  .left {
    width: 18%;
  }
  .right {
    width: 55%;
  }

  .leftImage {
    width: 100%;
    height: 20vw;

    border-radius: 2.2vw;
  }

  .imageHeader {
    font-size: 1.3vw;
    height: 4vw;
    padding: 0 1vw;
    border-radius: 1.5vw;
  }

  .rightHeader {
    font-size: 1.8vw;
  }

  .table th {
    font-size: 1.1vw;
    font-weight: 500;

    border: 0.5px solid black;
    padding: 0.8vw;
  }
  .table td {
    font-size: 1.1vw;
    text-align: center;
    font-weight: 300;
    border: 0.5px solid black;
    padding: 0.8vw;
  }
}

/*  (1350px and up) */
@media only screen and (min-width: 1440px) {
}
