.container {
  padding: 3vw 1vw;
  width: 100%;
}

.btnText {
  text-shadow: 3px 3px 3px #00000040;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.topMid {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 0.4vw;
}

.header {
  font-family: "Roboto", sans-serif;
  font-size: 2.6vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(180deg, #000 0%, #002482 51.79%, #002992 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subHeader {
  font-size: 1vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(180deg, #000 0%, #002482 51.79%, #002992 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0vw;
}
.logoImage {
  width: 6vw;
}

.btn {
  position: relative;
  right: 2vw;
  font-family: "Geist", sans-serif;
  font-weight: 700;
  font-size: 1.6vw;
  color: white;
  border-radius: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17vw;
  height: 5vw;
  background: #fe0000;
  overflow: hidden;
  z-index: 1;
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: #fc7272;
  border-radius: 1vw;
  transition: all 0.3s ease;
  pointer-events: none;
  z-index: 0;
}
.btn:hover.btn::before {
  width: 100%;
}
/* .btn:hover {
  color: #002482;
} */

@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 480px) {
}
/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
  .container {
    padding-top: 3vw;
    padding-bottom: 3vw;
  }

  .topMid {
    gap: 0.4vw;
  }

  .header {
    font-size: 2.4vw;
  }
  .logoImage {
    width: 6vw;
  }

  .btn {
    font-size: 1.3vw;
    border-radius: 1vw;
    padding: 1vw;
    width: 14vw;
    height: 4.5vw;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    padding: 3vw;
  }
}

/*(900px and up) */
@media only screen and (min-width: 900px) {
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  .container {
    padding-top: 2vw;
    padding-bottom: 2vw;
  }

  .topMid {
    gap: 0.4vw;
  }

  .header {
    font-size: 2.2vw;
  }
  .logoImage {
    width: 5vw;
  }

  .btn {
    font-size: 0.9vw;
    border-radius: 0.6vw;
    padding: 0;
    height: 3.5vw;
    width: 10.5vw;
  }
  .btn::before {
    border-radius: 0.6vw;
  }
}

/*  (1350px and up) */
@media only screen and (min-width: 1440px) {
}
