.container {
  padding: 1vw;
  height: 60vw;
}
.wrapper {
  border-radius: 2vw;
  position: relative;
  padding-top: 2vw;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.vidContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
.bgVid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.mainContainer {
  position: relative;
  z-index: 2;
}
.btn {
  position: relative;
  right: 2vw;
  font-family: "Geist", sans-serif;
  font-weight: 700;
  font-size: 1.6vw;
  color: white;
  border-radius: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17vw;
  height: 5vw;
  background: #fe0000;
  overflow: hidden;
  z-index: 1;
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: #fc7272;
  border-radius: 1vw;
  transition: all 0.3s ease;
  pointer-events: none;
  z-index: 0;
}
.btn:hover.btn::before {
  width: 100%;
}
.item {
  color: #fff;
  font-family: "Geist", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 1.3vw;
  padding-bottom: 0.6vw;
}
.heroNav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  position: sticky;
  top: 2vw;
}

.content {
  color: #fff;
  text-align: center;
  font-family: "Geist", sans-serif;
  font-weight: 700;
  font-size: 3vw;
  text-align: center;
  width: 70%;
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 80%;
  gap: 2vw;
}

.btnText {
  text-shadow: 3px 3px 3px #00000040;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 480px) {
}
/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
  .container {
    padding: 1vw;
    height: 55vw;
  }
  .wrapper {
    border-radius: 2vw;
    padding-top: 2vw;
  }

  .btn {
    font-size: 1.3vw;
    border-radius: 1vw;
    padding: 1vw;
    width: 14vw;
    height: 4.5vw;
  }
  .item {
    font-size: 1.3vw;
  }
  .heroNav {
    gap: 1vw;
  }

  .content {
    font-size: 2.5vw;
    width: 80%;
  }

  .mainContainer {
    width: 100%;
    height: 90%;
    gap: 2vw;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    padding: 1vw 3vw;
    height: 55vw;
  }
}

/*(900px and up) */
@media only screen and (min-width: 900px) {
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  .container {
    height: 45vw;
  }
  .wrapper {
    border-radius: 2vw;

    padding-top: 2vw;
  }

  .btn {
    font-size: 0.9vw;
    border-radius: 0.6vw;
    padding: 0;
    height: 3.5vw;
    width: 10.5vw;
  }
  .btn::before {
    border-radius: 0.6vw;
  }
  .item {
    font-size: 1.1vw;
  }
  .heroNav {
    gap: 1vw;
  }

  .content {
    font-size: 2.5vw;
    width: 80%;
  }

  .mainContainer {
    width: 100%;
    height: 90%;
    gap: 2vw;
  }
}

/*  (1350px and up) */
@media only screen and (min-width: 1440px) {
}

.btnText {
  text-shadow: 3px 3px 3px #00000040;
}
