.container {
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vw;
  width: 100%;
}
.dWrapper {
  width: 50%;
  height: 40vw;
  overflow-y: hidden;
  background: #fff;
  box-shadow: 0px 16px 44px 0px rgba(39, 45, 100, 0.1);
  padding: 3vw;
}
.header {
  color: #fe0000;
  text-align: center;
  font-family: "Geist", sans-serif;

  font-size: 3.5vw;
  font-weight: 700;
}
.name {
  color: #002992;
  font-size: 3vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.des {
  color: #000;
  font-size: 2vw;
  font-weight: 400;
}

.listContainer {
  margin-top: 3vw;
  color: #000;
  font-size: 1.8vw;
  font-weight: 400;
  list-style: disc;
  padding: 0 2vw;
  padding-right: 3vw;
  padding-bottom: 2vw;
  height: 22vw;
}
.listContainer {
  margin-top: 3vw;
  color: #000;
  font-size: 1.8vw;
  font-weight: 400;
  list-style: disc;
  padding: 0 2vw;
  padding-right: 3vw;
  padding-bottom: 2vw;
  height: 22vw;
  overflow-y: auto;
}

.listContainer::-webkit-scrollbar {
  width: 2px; /* or your desired width */
}

.listContainer::-webkit-scrollbar-track {
  background: #e2eaf7; /* optional */
}

.listContainer::-webkit-scrollbar-thumb {
  background-color: #aaa; /* or any color you prefer */
}
@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 480px) {
}
/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
  .container {
    padding-bottom: 5vw;
    flex-direction: row;
    gap: 1vw;
  }
  .header {
    font-size: 2.8vw;
  }
  .arwContainer {
    gap: 3vw;
    bottom: 2vw;
  }

  .arwImage {
    width: 4vw;
    cursor: pointer;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    padding: 1vw 3vw;
    padding-bottom: 4vw;
  }
  .dWrapper {
    width: 40%;
    height: 40vw;
    padding: 3vw;
  }
  .name {
    font-size: 2.1vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
  }
  .des {
    color: #000;
    font-size: 1.7vw;
    font-weight: 400;
  }

  .listContainer {
    margin-top: 2vw;
    color: #000;
    font-size: 1.5vw;
    font-weight: 400;
    list-style: disc;
    padding: 0 2vw;
    padding-right: 3vw;
    padding-bottom: 2vw;
    height: 24vw;
    overflow-y: auto;
  }

  .listContainer::-webkit-scrollbar {
    width: 2px; /* or your desired width */
  }
}

/*(900px and up) */
@media only screen and (min-width: 900px) {
  .header {
    font-size: 2.4vw;
  }
  .container {
    gap: 1.5vw;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  .dWrapper {
    width: 40%;
    height: 40vw;
    padding: 3vw 1.5vw;
  }
  .name {
    font-size: 1.9vw;
  }
  .des {
    font-size: 1.5vw;
  }

  .listContainer {
    margin-top: 2vw;

    font-size: 1.3vw;

    padding: 0 2vw;
    padding-right: 3vw;
    padding-bottom: 2vw;
    height: 24vw;
  }

  .listContainer::-webkit-scrollbar {
    width: 3px; /* or your desired width */
  }
}

/*  (1350px and up) */
@media only screen and (min-width: 1440px) {
}
