.container {
  background: rgba(0, 0, 0, 0.03);
  padding: 2vw 4vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 2vw;
  height: 20vw;
  position: relative;
  border-bottom: 2px solid #001d75;
  overflow: hidden;
  cursor: pointer;
}
.absEL {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: #e5ebf9;
  z-index: 0;
  transition: all 0.3s ease;
}

.dummyImage {
  width: 100%;
  height: 20vw;
  background-color: white;
  padding: 1vw;
  font-size: 3.4vw;
  z-index: 2;
}

.docTitle {
  color: #002d9f;
  font-size: 2vw;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 20px */
  z-index: 2;
}
.linkContainer {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.linkWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4vw;
  background-color: #e6ebfa;
  font-size: 2vw;
  padding: 0.8vw 1.7vw;
  border-radius: 1vw;
  z-index: 2;
  color: black;
  transition: all 0.3s ease;
  cursor: pointer;
}
.dwnIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container:hover {
  box-shadow: 10px 18px 30px rgba(2, 12, 82, 0.05);
}
.container:hover .absEL {
  height: 100%;
  cursor: pointer;
}
.container:hover .linkWrapper {
  background-color: red;
  color: white;
}

@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 480px) {
  .container {
    background: rgba(0, 0, 0, 0.03);
    padding: 2vw 2vw;
    border-radius: 1.5vw;
    height: 20vw;
  }

  .dummyImage {
    height: 17vw;
    background-color: white;
    padding: 1vw;
    font-size: 2.4vw;
    z-index: 2;
  }

  .linkContainer {
    z-index: 2;
  }
  .linkWrapper {
    gap: 0.4vw;

    font-size: 2vw;
    padding: 0.8vw 1.7vw;
    border-radius: 1vw;
  }
}
/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
  .container {
    background: rgba(0, 0, 0, 0.03);
    padding: 2vw 2vw;
    border-radius: 1.5vw;
  }

  .dummyImage {
    height: 17vw;

    padding: 1vw;
    font-size: 2vw;
    z-index: 2;
  }

  .docTitle {
    font-size: 1.5vw;
  }
  .linkContainer {
    z-index: 2;
  }
  .linkWrapper {
    gap: 0.4vw;

    font-size: 1.7vw;
    padding: 0.8vw 1.7vw;
    border-radius: 1vw;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    padding: 3vw 2vw;
    border-radius: 1.5vw;
  }

  .dummyImage {
    height: 13vw;

    padding: 1vw;
    font-size: 1.7vw;
    z-index: 2;
  }

  .linkContainer {
    z-index: 2;
  }
  .linkWrapper {
    gap: 0.4vw;

    font-size: 1.5vw;
    padding: 0.8vw 1.7vw;
    border-radius: 1vw;
  }
}

/*(900px and up) */
@media only screen and (min-width: 900px) {
  .container {
    padding: 3vw 1.7vw;
    border-radius: 1.1vw;
  }

  .dummyImage {
    height: 11.5vw;

    padding: 1vw;
    font-size: 1.5vw;
    z-index: 2;
  }
  .docTitle {
    font-size: 1.4vw;
  }
  .linkWrapper {
    gap: 0.4vw;

    font-size: 1.3vw;
    padding: 0.8vw 1.7vw;
    border-radius: 1vw;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  .container {
    padding: 2.5vw 1.7vw;
    border-radius: 1.1vw;
    height: 16vw;
  }

  .dummyImage {
    height: 11.5vw;

    padding: 1vw;
    font-size: 1.5vw;
    z-index: 2;
  }

  .docTitle {
    font-size: 1.1vw;
  }
  .linkContainer {
    z-index: 2;
  }
  .linkWrapper {
    gap: 0.4vw;
    font-size: 0.9vw;
    padding: 0.6vw 1.5vw;
    border-radius: 0.6vw;
  }
}

/*  (1350px and up) */
@media only screen and (min-width: 1440px) {
}
