.container {
  padding-top: 4vw;
}
.header {
  color: #fe0000;
  text-align: center;
  font-family: "Geist", sans-serif;
  font-size: 3.5vw;
  font-weight: 700;
  margin-bottom: 4vw;
}

.dotsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6vw;
  margin-top: 3vw;
  margin-bottom: 5vw;
}

.dots {
  width: 4vw;
}
.btnText {
  text-shadow: 3px 3px 3px #00000040;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewBtn {
  cursor: pointer;
  border-radius: 1vw;
  background: #fe0000;
  box-shadow: 0px 2px 2px 0px rgba(15, 14, 14, 0.4);
  color: #fff;
  font-family: "Geist", sans-serif;
  font-weight: 700;
  font-size: 2.5vw;
  outline: none;
  border: none;
  position: relative;
}

.viewBtn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: #fc7272;
  border-radius: 1vw;
  transition: all 0.3s ease;
  pointer-events: none;
  z-index: 0;
}
.viewBtn:hover.viewBtn::before {
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(38%, 38%));
  justify-content: center;
  gap: 4vw;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 0.6vw;
}

.cardImage {
  width: 100%;
  border-radius: 2vw;
}

.imgHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3vw;
  background: rgba(12, 12, 12, 0.55);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  color: #fff;
  text-align: center;
  font-family: "Geist", sans-serif;
  font-weight: 600;
  font-size: 2.2vw;
  height: 12vw;
  padding: 0 0.5vw;
  position: relative;
  overflow: hidden;
}

.imgHeader::before {
  content: "";
  position: absolute;
  border-radius: 2vw;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ef4444, #dc2626);
  border-radius: inherit;
  transform: scale(0);
  transform-origin: top left;
  transition: transform 0.4s ease-out;
  z-index: 0;
}
.imgHeader span {
  z-index: 3;
}
.card:hover .imgHeader::before {
  transform: scaleX(2);
  border-radius: 1vw;
}
@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 480px) {
  .dotsContainer {
    gap: 1.6vw;
    margin-top: 3vw;
    margin-bottom: 5vw;
  }

  .dots {
    width: 4vw;
  }

  .viewBtn {
    border-radius: 1vw;
    box-shadow: 0px 2px 2px 0px rgba(15, 14, 14, 0.4);
    font-size: 2vw;
    padding: 1vw;
  }
}
/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
  .imgHeader {
    border-radius: 3vw;

    font-size: 1.8vw;
    height: 8vw;
    padding: 0 0.5vw;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  .dotsContainer {
    gap: 1.6vw;
    margin-top: 3vw;
    margin-bottom: 5vw;
  }

  .dots {
    width: 4vw;
  }

  .viewBtn {
    border-radius: 1vw;
    box-shadow: 0px 4px 4px 0px rgba(15, 14, 14, 0.4);
    font-size: 2vw;
    padding: 1vw;
  }
  .imgHeader {
    border-radius: 2vw;

    font-size: 1.2vw;
    height: 6.5vw;
    padding: 0 0.5vw;
  }
  .wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(29%, 29%));
    gap: 1vw;
  }
  .cardImage {
    border-radius: 1.7vw;
  }
}

/*(900px and up) */
@media only screen and (min-width: 900px) {
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  .header {
    font-size: 2.5vw;
    margin-bottom: 2vw;
  }
  .dotsContainer {
    gap: 1.6vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
  }

  .dots {
    width: 4vw;
  }

  .viewBtn {
    border-radius: 1vw;
    box-shadow: 0px 4px 4px 0px rgba(15, 14, 14, 0.4);
    font-size: 1.5vw;
    padding: 1vw;
  }
  .imgHeader {
    border-radius: 2vw;

    font-size: 1vw;
    height: 6.5vw;
    padding: 0 0.5vw;
  }
  .wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(26%, 26%));
    gap: 2vw;
  }
  .cardImage {
    border-radius: 1.3vw;
  }
}

/*  (1350px and up) */
@media only screen and (min-width: 1440px) {
}
